@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Message"]</h3>
<p>Professor @ViewData["Professor"]</p>

<address>
    <strong>More Information: </strong> <a href="http://educandoweb.com.br">Educandoweb.com.br</a>
</address>
